# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.conda/
env/
venv/
ENV/

# Project datasets (large images & zips)
skin-cancer-mnist-ham10000/
data/raw/
data/isic_supplementary/
*.zip
*.tar.gz

# Model weights and logs
outputs/models/efficientnet_best.pth
outputs/models/best_model.pth
outputs/models/densenet_best.pth
outputs/models/baseline_best.pth
*.pth
wandb/
tea_debug.log
.agents/

# System files
.DS_Store
Thumbs.db
